app/database/sounds/*
!app/database/sounds/.gitkeep
app/database/thumbnails/*
!app/database/thumbnails/.gitkeep
app/database/database.db

*__pycache__*
*.pyc
temp.wav
app/www/static/*
!app/www/static/.gitkeep
app/www/templates/*
!app/www/templates/.gitkeep

env/*
